:root {
  --accent-color: #fcf48f;
  --main-bg-color: #d4d4d4;
  --secondary-bg-color: #e1e1e1;
  --primary-text-color: #ffffff;
  --gray-dark: #353535;
  --gray-medium: #424242;
  --gray-ligth: #525151;
  --dark-bg-color: #171717;
  --secondary-text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dfdfdf;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 20px;
  padding: 20px 20px;
}

.nav-link {
  color: var(--secondary-text-color);
  position: relative;
  transition: width 0.2s ease;
}

.nav-link::after {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.phone-number {
  background-color: var(--accent-color);
  height: 100%;
  padding: 20px 20px;
  width: 15%;
}

/*INTRO*/

#intro {
  position: relative;
  background-image: url(./img/title1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  z-index: -3;
}

.intro_logo {
  padding-top: 80px;
}

.intro_name {
  max-width: 500px;
  width: 100%;
  margin-top: 120px;
}

.intro_name h1 {
  font-size: 67px;
  font-weight: 200;
  color: #ffffff;
}


/* ADVANTAGE */

.advantages-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 560px;
}

.advantages-info {
  width: 140%;
  position: relative;
  font-size: 48px;
  top: -9px;
}

.advantages-grid-item {
  padding: 36px;
  font-size: 22px; 
  color: #FFFFFF;
  font-weight: 100;
} 

.advantages-gray {
  background-color: #424242;
  opacity: #000000DB;
}

.advantages-gray-dark {
  background-color: #000000DB;
}

.number1 {
  position: relative;
  width: 100%; 
  height: 100%;
}

.number1::before {
  content: "";
  position: absolute;
  top: -80px;
  left: calc(-100vw + 100%); /* Отступ слева для создания эффекта немного большего ширины */
  width: 100vw;
  height: calc(80px + 100%);
  background-color: #FCF48F; /* Цвет заднего блока */
  z-index: -1;
}

/* SERVICES */

.services-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 100px;
}

.services-column {
  width: 50%;
}

.services-title {
  margin-bottom: 95px;
  font-size: 4rem;
  position: relative;
}

.services-title h2 {
  font-weight: 300;
}

.services-title::after {
  position: absolute;
  content: "";
  bottom: -4px;
  width: 5%;
  height: 6px;
  background-color: black;
}

.service {
  background-color: var(--secondary-text-color);
}

.gray-light {
  background-color: var(--gray-ligth);
}

.gray-medium {
  background-color: var(--gray-medium);
}

.gray-dark {
  background-color: var(--gray-dark);
}

.service-title {
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color);
  transition: all 0.3s ease;
}

.service-title.active {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.service-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.service-button.active {
  border-color: var(--dark-bg-color);
}

.line {
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
  transition: all 0.3s ease-in-out;
}

.line:nth-of-type(1) {
  transform: rotate(90deg);
}

.line:nth-of-type(1).active {
  z-index: 1;
  transform: rotate(180deg);
  background-color: var(--dark-bg-color);
  border-color: var(--dark-bg-color);
}

.service-description-wrapper {
  background-color: #ffffff;
  padding: 0 50px;
}

.service-description {
  height: 0;
  width: 100%;
  position: relative;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s linear;
}

.service-description.active {
  height: fit-content;
  z-index: inherit;
  opacity: 1;
  padding: 50px 0;
  transition: all 0.3s linear;
}

/* CONTACT */

#contact {
  display: flex;
  height: 560px;
}

.map {
  display: flex;
  width: 75%;
}

.map iframe {
  width: 66.6%;
  border: 0;
}

.map-info {
  background-color: var(--accent-color);
  width: 33.3%;
}

.phone-and-mail {
  color: white;
  width: 25%;
}

.phone-and-mail > * {
  height: 50%;
}

.mail-info {
  background-color: var(--gray-ligth);
}

.phone-info {
  background-color: var(--gray-medium);
}

.contact-item {
  padding: 20px;
  font-size: 1.2rem;
  position: relative;
}

.contact-item img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* FOOTER */

#footer {
  font-size: 1.2rem;
  color: var(--primary-text-color);
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.list-social {
  margin-top: 50px;
  display: flex;
  gap: 33px;
}

.list-social img {
  width: 36px;
}

.nav-list-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
