:root {
  --accent-color: #fcf48f;
  --main-bg-color: #d4d4d4;
  --secondary-bg-color: #e1e1e1;
  --primary-text-color: #ffffff;
  --gray-dark: #353535;
  --gray-medium: #424242;
  --gray-ligth: #525151;
  --dark-bg-color: #171717;
  --secondary-text-color: #000000;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 1460px;
  margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 20px;
  padding: 20px 20px;
}

.nav-link {
  color: var(--secondary-text-color);
  transition: all 0.2s ease;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.phone-number {
  background-color: var(--accent-color);
  height: 100%;
  padding: 20px 20px;
  width: 15%;
}
/* CONTACT */

#contact {
  display: flex;
  height: 560px;
}

.map {
  display: flex;
  width: 75%;
}

.map iframe {
  width: 66.6%;
  border: 0;
}

.map-info {
  background-color: var(--accent-color);
  width: 33.3%
}

.phone-and-mail {
  color: white;
  width: 25%;
}

.phone-and-mail > * {
  height: 50%;
}

.mail-info {
  background-color: var(--gray-ligth);
}

.phone-info {
  background-color: var(--gray-medium);
}

.contact-item {
  padding: 20px;
  font-size: 1.2rem;
  position: relative;
}

.contact-item img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*INTRO*/

#intro {
  background-image: url(./img/title1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.intro_logo {
  padding-top: 80px;
}

.intro_name {
  max-width: 500px;
  width: 100%;
  margin-top: 120px;
}

.intro_name h1 {
  font-size: 67px;
  font-weight: 200;
  color: #FFFFFF;
}

/*ADVANTAGES*/
.advantages_grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 565px;
  color: var(--primary-text-color);
  font-size: 22px;
  font-weight: 100;
  margin-left: auto;
  width: 80%;
}

.advantages_grid * {
  padding: 50px 50px 50px 45px;
}

.advantages_info {
  font-size: 34px;
  font-weight: 600;
  margin: 100px 0 100px 0;
  width: 795px;
}

.bc-yellow {
  background-color: #fcf48f;
}

.grey {
  background-color: var(--gray-medium);
}

.dark-grey {
  background-color: var(--gray-dark);
}

/* FOOTER */

#footer {
  font-size: 1.2rem;
  color: var(--primary-text-color);
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.list-social {
  margin-top: 50px;
  display: flex;
  gap: 33px;
}

.list-social img {
  width: 36px;
}

.nav-list-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}